# REPO_URL="https://github.com/dbeaver/dbeaver.git"
# REPO_DIR="./data/dbeaver"
# OUTPUT_FILE="./data/dbeaver_commits.json"
# TARGET_BRANCH=devel
# MAX_COMMITS=5000
#
# REPO_URL="https://github.com/spring-projects/spring-boot.git"
# REPO_DIR="./data/spring-boot"
# OUTPUT_FILE="./data/spring_boot_commits.json"
# TARGET_BRANCH=main
# MAX_COMMITS=5000
#
# REPO_URL="https://github.com/google/gson.git"
# REPO_DIR="./data/gson_repo"
# OUTPUT_FILE="./data/gson_commits.json"
# TARGET_BRANCH=main
# MAX_COMMITS=5000

REPO_URL=""
REPO_DIR="./data/REPODIR"
OUTPUT_FILE="./data/FILENAME.json"
TARGET_BRANCH=main
MAX_COMMITS=5000

BENCHMARK_SIZE=50

OPENAI_BASE_URL=http://localhost:11434/v1
LLM_MODEL=llama3
API_KEY=ollama
